zeus-test/zeus_tests.json
{
  "name": "zeus_tests",
  "nodes": [
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "\n/**\n * n8n Puppeteer → Run Custom Script (revisado)\n * - Login + upload\n * - Auto‑scroll (contêiner OU janela)\n * - Corrida: sucesso (selector) VS erro (selector) VS texto \"Você acabou de economizar\"\n * - Diagnóstico: screenshot e último bodyText quando der timeout\n */\n\nconst INITIAL_URL = 'https://zeus.tjpa.jus.br/';\n\nconst LOGIN_BUTTON_SELECTOR = '[data-testid=\"stBaseButton-secondary\"]';\n//const SCROLL_CONTAINER_SELECTOR = '#root > div:nth-child(1) > div.withScreencast > div > div > section.stMain.st-emotion-cache-bm2z3a.eht7o1d1';\nconst SCROLL_CONTAINER_SELECTOR = '[data-testid=\"stMain\"]'\n\n//const VLL_ERROR_SELECTOR = '#tabs-bui2-tabpanel-0 > div > div > div > div:nth-child(6) > div > div > div > div';\n//const VLL_ERROR_SELECTOR = '[data-testid=\"stMain\"]'\n\nconst PROCESSING_TIMEOUT_MS = 600000; // 10 minutes (adjust as needed)\nconst USERNAME = 'danilo.nicioka';\nconst PASSWORD = 'Ad@maz080212'; // <-- use n8n credentials instead of hardcoding\nconst USERNAME_SELECTOR = '#username';\nconst PASSWORD_SELECTOR = '#password';\nconst CONFIRM_LOGIN_BUTTON_SELECTOR = '#kc-login';\n\nconst VIDEO_PATH = '/tmp/zeus/videos/zeusteste.mp4';\nconst FILE_UPLOAD_SELECTOR = '[data-testid=\"stFileUploaderDropzoneInput\"]';\n\n// ===================== CONFIGURÁVEIS =====================\n\n// Sucesso por seletor (adicione mais se souber os data-testid/classes)\nconst SUCCESS_SELECTORS = [\n  '[data-testid=\"stAlertContentSuccess\"]',\n  // '[role=\"alert\"].success', // exemplo — remova se não existir\n];\n\n// Falha por seletor (adicione seus casos)\n//const ERROR_SELECTORS = [\n  //'[data-testid=\"stAlertContentError\"]',\n  // '[role=\"alert\"].error',\n  // '[data-testid=\"stToast\"].error'\n//];\n\n// Sucesso por texto (case- & accent-insensitive)\nconst SUCCESS_TEXT_PATTERNS = [\n  'Você acabou de economizar',\n  //'Processamento concluído',\n];\n\n// Falha por texto (coloque aqui todas as mensagens que quer pegar)\nconst ERROR_TEXT_PATTERNS = [\n  'ConnectionError',\n  'Houve um problema ao processar sua requisição',\n  'Bad Gateway',\n  //'upload falhou',\n  //'vídeo inválido',\n  //'não suportado',\n  //'limite excedido',\n];\n\nconst SCROLL_STEP = 1200;\nconst SETTLE_DELAY = 100;\nconst MAX_IDLE_ROUNDS = 8;\n\n// ===================== UTILS =====================\nconst delay = (ms) => new Promise((res) => setTimeout(res, ms));\n\nfunction getContext() {\n  // Se precisar de iframe, adapte aqui com FRAME_URL_CONTAINS\n  return { ctx: $page, inFrame: false };\n}\n\n// Rola o contêiner (se scrollável) ou a janela\nasync function stepScroll(ctx, stepPx, containerSel) {\n  return ctx.evaluate((step, cSel) => {\n    const container = cSel ? document.querySelector(cSel) : null;\n    const scrollable = (container && container.scrollHeight > container.clientHeight) ? container : null;\n    const scroller = scrollable || document.scrollingElement || document.body;\n\n    scroller.scrollTop += step;\n\n    return {\n      afterHeight: scroller.scrollHeight,\n      used: scrollable ? 'container' : 'document',\n    };\n  }, stepPx, containerSel);\n}\n\n// Converte lista de strings em função de teste accent-insensitive\nfunction normalize(s) {\n  return (s || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase();\n}\n\nfunction toTester(patterns) {\n  const needles = patterns.map((p) => normalize(p)).filter(Boolean);\n  return (hay) => {\n    const h = normalize(hay);\n    return needles.some((n) => h.includes(n));\n  };\n}\n\nconst testSuccessText = toTester(SUCCESS_TEXT_PATTERNS);\nconst testErrorText   = toTester(ERROR_TEXT_PATTERNS);\n\n// Tenta achar por **qualquer seletor**; retorna handle e o seletor que bateu\nasync function matchAnySelector(ctx, selectors) {\n  for (const sel of selectors) {\n    const h = await ctx.$(sel);\n    if (h) return { handle: h, selector: sel };\n  }\n  return null;\n}\n\n// Marca o **primeiro elemento** cujo innerText bate com qualquer padrão e devolve o handle\nasync function markElementByText(ctx, patterns, attrName) {\n  const id = `${attrName}-${Date.now()}-${Math.random().toString(36).slice(2)}`;\n  const marked = await ctx.evaluate((pats, attr, containerSel) => {\n    function normalize(s) {\n      return (s || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase();\n    }\n    const needles = pats.map((p) => normalize(p));\n    const container = containerSel ? document.querySelector(containerSel) : document.body;\n    const all = Array.from(container.querySelectorAll('*'));\n    for (const el of all) {\n      const t = el.innerText || el.textContent || '';\n      const h = normalize(t);\n      if (needles.some((n) => h.includes(n))) {\n        el.setAttribute(attr, id);\n        return id;\n      }\n    }\n    return null;\n  }, patterns, 'data-pptr-hit', SCROLL_CONTAINER_SELECTOR);\n\n  if (!marked) return null;\n  const handle = await ctx.$(`[data-pptr-hit=\"${id}\"]`);\n  return handle ? { handle, selector: `[data-pptr-hit=\"${id}\"]` } : null;\n}\n\n// Aguarda que o elemento tenha texto não vazio (se for alerta com <p>)\n\nasync function waitForNonEmptyText(ctx, handle, maxWaitMs) {\n  const attr = await handle.evaluate((el) => el.getAttribute('data-pptr-hit'));\n  if (attr) {\n    await ctx.waitForFunction(\n      (a) => {\n        const el = document.querySelector(`[data-pptr-hit=\"${a}\"]`);\n        if (!el) return false;\n        const t = el.innerText || el.textContent || '';\n        return !!t.trim();\n      },\n      { timeout: maxWaitMs },\n      attr\n    ).catch(() => {});\n    return;\n  }\n\n  const deadline = Date.now() + maxWaitMs;\n  while (Date.now() < deadline) {\n    const ok = await handle.evaluate((el) => {\n      const t = el.innerText || el.textContent || '';\n      return !!t.trim();\n    }).catch(() => true);\n    if (ok) break;\n    await delay(250);\n  }\n}\n\n// Screenshot de um handle\nasync function screenshotHandle(el) {\n  // Centraliza na viewport\n  try {\n    await el.evaluate((node) => node.scrollIntoView({ block: 'center', inline: 'center' }));\n  } catch {}\n  await delay(200);\n  const base64 = await el.screenshot({ type: 'png', encoding: 'base64' });\n  const box = await el.boundingBox();\n  return { data: base64, mimeType: 'image/png', fileName: `alert-${Date.now()}.png`, box };\n}\n\n/** Diagnóstico em caso de timeout */\nasync function captureDiagnostics() {\n  const buf = await $page.screenshot({ fullPage: true }).catch(() => null);\n  const bodyText = await $page.evaluate(() => document.body.innerText.slice(-5000)).catch(() => '');\n  return { screenshotBase64: buf ? buf.toString('base64') : null, bodyTailText: bodyText };\n}\n\n// ===================== CORRIDA DE CONDIÇÕES =====================\n// Retorna {status: 'success'|'error'|'timeout', matchType: 'selector'|'text', selector?, textPattern?, handle?}\nasync function waitForOutcomeMulti(ctx) {\n  const start = Date.now();\n  let lastHeight = -1;\n  let idleRounds = 0;\n\n  while ((Date.now() - start) < PROCESSING_TIMEOUT_MS) {\n    // 1) tenta sucesso/falha por SELETOR\n    const okSel  = await matchAnySelector(ctx, SUCCESS_SELECTORS);\n    if (okSel) return { status: 'success', matchType: 'selector', selector: okSel.selector, handle: okSel.handle };\n\n    //const errSel = await matchAnySelector(ctx, ERROR_SELECTORS);\n    //if (errSel) return { status: 'error', matchType: 'selector', selector: errSel.selector, handle: errSel.handle };\n\n    // 2) leitura rápida do bodyText + testers\n    const bodyText = await ctx.evaluate(() => document.body.innerText || '');\n\n    if (testSuccessText(bodyText)) {\n      // marca e resolve o elemento para screenshot\n      const okText = await markElementByText(ctx, SUCCESS_TEXT_PATTERNS, 'pptr-success');\n      if (okText) return { status: 'success', matchType: 'text', textPattern: 'SUCCESS_TEXT_PATTERNS', selector: okText.selector, handle: okText.handle };\n    }\n\n    if (testErrorText(bodyText)) {\n      const errText = await markElementByText(ctx, ERROR_TEXT_PATTERNS, 'pptr-error');\n      if (errText) return { status: 'error', matchType: 'text', textPattern: 'ERROR_TEXT_PATTERNS', selector: errText.selector, handle: errText.handle };\n    }\n\n    // 3) passo de scroll\n    const stats = await stepScroll(ctx, SCROLL_STEP, SCROLL_CONTAINER_SELECTOR);\n    if (stats.afterHeight === lastHeight) idleRounds += 1;\n    else { idleRounds = 0; lastHeight = stats.afterHeight; }\n    await delay(SETTLE_DELAY);\n\n    // 4) fundo absoluto se estagnar\n    if (idleRounds >= MAX_IDLE_ROUNDS) {\n      await ctx.evaluate((cSel) => {\n        const container = cSel ? document.querySelector(cSel) : null;\n        const scroller = (container && container.scrollHeight > container.clientHeight)\n          ? container : (document.scrollingElement || document.body);\n        scroller.scrollTop = scroller.scrollHeight;\n      }, SCROLL_CONTAINER_SELECTOR);\n      await delay(Math.max(SETTLE_DELAY, 250));\n      idleRounds = 0;\n    }\n  }\n\n  return { status: 'timeout' };\n}\n\n// ===================== USO NO SEU FLUXO =====================\nasync function findAlertAndScreenshot() {\n  const { ctx, inFrame } = getContext();\n\n  // Corrida por sucesso/falha (seletor + texto)\n  const outcome = await waitForOutcomeMulti(ctx);\n\n  if (outcome.status === 'timeout') {\n    const diag = await captureDiagnostics();\n    throw new Error(`Timeout (${PROCESSING_TIMEOUT_MS}ms): nenhum alerta encontrado. Último trecho de bodyText:\\n${diag.bodyTailText || '(vazio)'}\\n`);\n  }\n\n  // Garantir que o elemento tenha conteúdo (não estritamente necessário aqui)\n  try { await waitForNonEmptyText(ctx, outcome.handle, Math.min(20000, PROCESSING_TIMEOUT_MS)); } catch {}\n\n  // Hi-DPI opcional para nitidez\n  const originalViewport = $page.viewport();\n  await $page.setViewport({ ...(originalViewport || { width: 1280, height: 800 }), deviceScaleFactor: 2 });\n\n  // Screenshot do elemento encontrado (seletor ou texto)\n  const shot = await screenshotHandle(outcome.handle);\n\n  // Texto capturado do próprio elemento (se quiser registrar)\n  const elementText = await outcome.handle.evaluate((el) => el.innerText || el.textContent || '');\n\n  return [{\n    json: {\n      status: outcome.status,                // 'success' ou 'error'\n      matchType: outcome.matchType,          // 'selector' ou 'text'\n      matchSelector: outcome.selector || null,\n      matchTextPattern: outcome.textPattern || null,\n      elementText,\n      inFrame,\n      url: $page.url(),\n      capturedAt: new Date().toISOString(),\n    },\n    binary: { elementScreenshot: shot }\n  }];\n}\n\nasync function main() {\n  // 1) abre a página\n  await $page.goto(INITIAL_URL, { waitUntil: 'domcontentloaded' });\n\n  // 2) botão de login (evite nth-child em produção; aqui mantido)\n  await $page.waitForSelector(LOGIN_BUTTON_SELECTOR, { visible: true, timeout: 30000 });\n  await Promise.all([\n    $page.waitForNavigation({ waitUntil: 'load', timeout: 60000 }),\n    $page.click(LOGIN_BUTTON_SELECTOR),\n  ]);\n\n  // 3) form de login\n  await $page.waitForSelector(USERNAME_SELECTOR, { visible: true, timeout: 60000 });\n  await $page.waitForSelector(PASSWORD_SELECTOR, { visible: true, timeout: 60000 });\n  await $page.waitForSelector(CONFIRM_LOGIN_BUTTON_SELECTOR, { visible: true, timeout: 60000 });\n\n  await $page.type(USERNAME_SELECTOR, USERNAME, { delay: 40 });\n  await $page.type(PASSWORD_SELECTOR, PASSWORD, { delay: 40 });\n\n  await Promise.all([\n    $page.waitForNavigation({ waitUntil: 'networkidle0', timeout: 60000 }),\n    $page.click(CONFIRM_LOGIN_BUTTON_SELECTOR),\n  ]);\n\n  // 4) upload\n  const fileInput = await $page.waitForSelector(FILE_UPLOAD_SELECTOR, { visible: true, timeout: 60000 });\n  await fileInput.uploadFile(VIDEO_PATH);\n\n  // 5) aguarda resultado\n  return await findAlertAndScreenshot();\n}\n\nreturn await main();\n",
        "options": {
          "browserWSEndpoint": "http://172.17.0.136:4000?token=6R0W53R135510"
        }
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        864,
        -112
      ],
      "id": "66912972-553d-4edd-9ae9-0aad401f6c9f",
      "name": "zeus"
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "const fs = require('fs');\n\nconst videoPath = '/tmp/zeus/videos/zeusteste.mp4'; // MUST be the exact path passed to setInputFiles\n\nconst filePresent = fs.existsSync(videoPath);\n\nreturn [{ \n  json: {\n    filePresent: filePresent, \n    videoPath: videoPath\n  }\n}];",
        "options": {
          "browserWSEndpoint": "http://172.17.0.136:4000?token=6R0W53R135510"
        }
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        480,
        -64
      ],
      "id": "e7eee071-da81-46de-be09-06b0e400aa9b",
      "name": "video_download"
    },
    {
      "parameters": {
        "chatId": "832907774",
        "text": "={{ $json.elementText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -352
      ],
      "id": "8e30676f-12c7-40e3-9084-1ab4580e2330",
      "name": "Send a text message",
      "webhookId": "e4be8b4c-4d20-4f82-8785-7f04451cbd1a",
      "credentials": {
        "telegramApi": {
          "id": "10XZWUm7wshjpFSP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "832907774",
        "binaryData": true,
        "binaryPropertyName": "elementScreenshot",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -160
      ],
      "id": "6d24471d-287c-4cbb-b190-e2f187da96d7",
      "name": "Send a photo message",
      "webhookId": "e1b8046d-df78-4fb4-a599-87eca8d52116",
      "credentials": {
        "telegramApi": {
          "id": "10XZWUm7wshjpFSP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        128
      ],
      "id": "ef7f4605-7183-4b66-9698-4f661019e16e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.elementText }}",
                    "rightValue": "Houve um problema",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5bac0bb9-f660-46f8-a111-bb209873e12c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vllm error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f1b3fe0-93bc-4063-b7fb-3a369cf14edf",
                    "leftValue": "={{ $json.elementText }}",
                    "rightValue": "Bad Gateway",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nginx error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1536,
        -16
      ],
      "id": "efecb6ab-b66d-4a79-87be-caaa61722aa3",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose down web",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1536,
        656
      ],
      "id": "6a7c0f7d-0efe-4119-b835-e4b114b56a3f",
      "name": "down"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose up -d web",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1760,
        656
      ],
      "id": "fb52f756-ab43-4dd9-84d9-f4f02578ae02",
      "name": "up"
    },
    {
      "parameters": {
        "content": "## Prod e Dev em linhas diferentes?\nPoderia ser uma linha pra testar cada e em seguida fazer o restart",
        "height": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        528
      ],
      "typeVersion": 1,
      "id": "aa87b22f-2446-4c65-8a84-ea1a69a3df15",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose logs -n 10 web",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1984,
        656
      ],
      "id": "42e84565-f4a7-4b40-8a31-20e9e1de0efe",
      "name": "logs"
    },
    {
      "parameters": {
        "content": "## Não dá pra usar -f\nEle fica esperando o comando \"concluir\", então se for contínuo, fica preso",
        "height": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        -352
      ],
      "typeVersion": 1,
      "id": "8276e4e7-f6f0-46d0-b392-a9269992523b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose down redis",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1536,
        464
      ],
      "id": "133e83e2-73d7-4e58-923f-5b6d7ffd15c0",
      "name": "down1"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose up -d redis",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1760,
        464
      ],
      "id": "13ab627e-7b3c-4e72-b0d3-d32886adaf02",
      "name": "up1"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose logs -n 10 redis",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1984,
        464
      ],
      "id": "d086acba-3555-4759-b1fa-873dbfdfee55",
      "name": "logs1"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "for i in 5 6 7; do curl -k -o /dev/null -s -w \"%{http_code}\\n\" http://sistemas-gpu-dev.i.tj.pa.gov.br:1143$i/docs; done",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1088,
        464
      ],
      "id": "a80f3e8e-c385-415d-ae98-9cef9c1c7ac2",
      "name": "curl_dev"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "for i in 5 6 7; do curl -k -o /dev/null -s -w \"%{http_code}\\n\" http://sistemas-gpu.i.tj.pa.gov.br:1143$i/docs; done",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1088,
        656
      ],
      "id": "05c841d9-5014-4ea4-b2bf-469facfe224c",
      "name": "curl_prod"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49f8afee-8d59-45b7-b25d-860d15aaaafd",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "200\n200\n200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        464
      ],
      "id": "c4207419-c5ca-4656-92c4-c98eb05ae61f",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49f8afee-8d59-45b7-b25d-860d15aaaafd",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "200\n200\n200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        656
      ],
      "id": "c8d2527d-d568-4163-b0af-bb80e5cab41c",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Arrumar nomes dos serviços e diretorios"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        -656
      ],
      "id": "1f33a3cf-9b8f-43df-bda0-9e7930b8397a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose restart web",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1984,
        80
      ],
      "id": "aeea72a5-5045-4b22-92e1-5a291633609e",
      "name": "restart"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "curl -k -o /dev/null -s -w \"%{http_code}\\n\" https://zeus-dev.tjpa.jus.br",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2208,
        80
      ],
      "id": "29344abe-29c5-4f2d-b337-6ce624da10e0",
      "name": "curl"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose logs -n 10 web",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2432,
        80
      ],
      "id": "e2e4a5dd-5106-4d72-99aa-20c32ef29f9b",
      "name": "logs2"
    },
    {
      "parameters": {
        "content": "## Curl\nO container do n8n não tem curl, por isso que está fazendo ssh para executar o teste"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        272
      ],
      "id": "587fc68d-6412-45d5-85f7-d35ca4da0d0a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25c954bb-12d8-4b98-986b-d533be77a850",
              "leftValue": "1",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        560
      ],
      "id": "fda14bdc-017d-4dbb-9973-5053c8dbede9",
      "name": "n_exec"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25c954bb-12d8-4b98-986b-d533be77a850",
              "leftValue": "1",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        80
      ],
      "id": "32c58ec3-c30d-435f-988d-97e68217ca84",
      "name": "n_exec1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25c954bb-12d8-4b98-986b-d533be77a850",
              "leftValue": "1",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        848
      ],
      "id": "11b1c8a4-5d99-418a-a346-db58b9a2a733",
      "name": "n_exec2"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "nvidia-smi -q | grep -i licen",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1088,
        848
      ],
      "id": "e0701fa2-921b-4850-a111-59b0e59a0979",
      "name": "check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99a448d4-e136-462f-aceb-0cf3f96077c6",
              "leftValue": "={{ $json.elementText }}",
              "rightValue": "Houve um problema",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b2ec3709-5fe1-4abe-beb8-75aeda901809",
              "leftValue": "={{ $json.elementText }}",
              "rightValue": "Bad Gateway",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        32
      ],
      "id": "34653621-2f25-467c-b0ba-5a708df611bb",
      "name": "If2"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose logs -f vllm-qwen3-14B | grep 'Application startup'",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1984,
        272
      ],
      "id": "243a2083-835f-4cab-994d-050505be812c",
      "name": "logs3"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose down",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1536,
        272
      ],
      "id": "0c1bb243-894b-47d6-94ce-354f44f864a5",
      "name": "down2"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose up -d",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1760,
        272
      ],
      "id": "5a3ea901-8e2e-4243-a96a-bc15ec77c6f2",
      "name": "up2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22f2ff9d-a3e2-492d-b9e4-dbb6fcf3df27",
              "leftValue": "={{ $json.code }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2208,
        272
      ],
      "id": "88f0b29e-5127-40f7-9147-8c3d34febc95",
      "name": "If3"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose logs -f vllm-qwen3-14B | grep 'Application startup'",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2208,
        -112
      ],
      "id": "64b1a446-4c27-42d4-b3f4-c9d692194084",
      "name": "logs4"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose down vllm-qwen3-14B zeus",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1760,
        -112
      ],
      "id": "66be0a5f-cf4d-418e-b296-58edf0aec9c7",
      "name": "down3"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker compose up -d vllm-qwen3-14B zeus",
        "cwd": "/root/ollama"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1984,
        -112
      ],
      "id": "4e7a2a64-18dd-4895-a54d-75d27609d6c4",
      "name": "up3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22f2ff9d-a3e2-492d-b9e4-dbb6fcf3df27",
              "leftValue": "={{ $json.code }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2432,
        -112
      ],
      "id": "0168342d-c45d-4324-95b9-d7a04a3ed52f",
      "name": "If4"
    },
    {
      "parameters": {
        "content": "## Verifica logs até achar o 'Application startup'\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2192,
        -352
      ],
      "id": "c9f8e58a-66bf-459c-bbd0-bff6babdcc4b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25c954bb-12d8-4b98-986b-d533be77a850",
              "leftValue": "1",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        32
      ],
      "id": "cbec85be-9104-4cae-ad2e-1b6419b5a191",
      "name": "n_exec3"
    }
  ],
  "pinData": {},
  "connections": {
    "zeus": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "n_exec3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video_download": {
      "main": [
        [
          {
            "node": "zeus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n_exec",
            "type": "main",
            "index": 0
          },
          {
            "node": "n_exec2",
            "type": "main",
            "index": 0
          },
          {
            "node": "video_download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "down": {
      "main": [
        [
          {
            "node": "up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "up": {
      "main": [
        [
          {
            "node": "logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "down1": {
      "main": [
        [
          {
            "node": "up1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "up1": {
      "main": [
        [
          {
            "node": "logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "down1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "curl_dev": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "curl_prod": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "restart": {
      "main": [
        [
          {
            "node": "curl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "curl": {
      "main": [
        [
          {
            "node": "logs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "down3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n_exec1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n_exec": {
      "main": [
        [],
        [
          {
            "node": "curl_dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "curl_prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n_exec1": {
      "main": [
        [],
        [
          {
            "node": "restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n_exec2": {
      "main": [
        [],
        [
          {
            "node": "check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "down2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "down2": {
      "main": [
        [
          {
            "node": "up2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "up2": {
      "main": [
        [
          {
            "node": "logs3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "logs3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs4": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "down3": {
      "main": [
        [
          {
            "node": "up3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "up3": {
      "main": [
        [
          {
            "node": "logs4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "logs4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n_exec3": {
      "main": [
        [],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b82b47bc-bf48-423b-9625-469dbf522191",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f83938c604fd61ef30b704f19803da6d669ad618b6dcce28b5567b3a82953c1"
  },
  "id": "6KsD7KiFdLkoamba",
  "tags": [
    {
      "updatedAt": "2025-12-24T19:48:32.141Z",
      "createdAt": "2025-12-24T19:48:32.141Z",
      "id": "qhEErSt43Ib8lZIX",
      "name": "zeus"
    }
  ]
}